.game_canvas__2dplane{
    border: 2px solid black;
}

.game__resolution__slider{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.game__resolution__slider__label{
    width: 100%;
    margin-left: 20px;
    margin-bottom: -30px;
}

.game__resolution__slider__label >h4{
    margin-bottom: -5px;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.2;
    padding: .38em 1.4em .56em .6em;
    width: 16%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: .2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

  }
  /* Hide arrow icon in IE browsers */
  .select-css::-ms-expand {
    display: none;
  }
  /* Hover style */
  .select-css:hover {
    border-color: #888;
  }
  /* Focus style */
  .select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(0, 5, 10, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  
  /* Set options to normal weight */
  .select-css option {
    font-weight:normal;
  }
  
  /* Support for rtl text, explicit support for Arabic and Hebrew */
  *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
  }
  
  
  .select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
  }